html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    user-select: none;
}
#central-cursor {
    top: 50%;
    left: 50%;
    user-select: none;
    position: absolute;
    z-index: 999999;
}
.block-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    margin: 6px;
    cursor: pointer;
    font-size: 11px;
    color: white;
}

.block-item img {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
    border: 2px solid transparent;
}

.block-item.selected img {
    border-color: yellow;
}
